pyrogram>=2.0.30
motor==2.0.0
dnspython==2.3.0
Tgcrypto 
telethon
youtube-search
youtube-search-python
yt-dlp
aiohttp
asyncio
requests
Pillow

opencv-python-headless
aiofiles
pykeyboard
telegraph==2.2.0
googletrans==3.1.0a0
gTTS==2.3.1
wget
