git+https://github.com/jeolpaul/pyrogram@inline-m                      
git+https://github.com/MrMKN/pyrogram
TgCrypto
pykeyboard
asyncio
motor
dnspython
telegraph
python-dotenv
requests
Heroku3
motor
aiofiles
pykeyboard
humanize
aiohttp
pillow
opencv-python-headless
aiofiles
psutil
speedtest-cli
opencv-python-headless                
bs4
Pyromod
telegraph==2.2.0
NumPy
pypng
wget
wheel
asyncio
Pillow
yt-dlp
youtube_search_python
youtube_search
ytthumb
youtube-dl
gTTS
googletrans==3.1.0a0
gTT
